@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg) skew(0deg);
  }
  to {
    -webkit-transform: rotate(0deg) skew(0deg);
  }
}

@-webkit-keyframes rotate-redux {
  from {
    -webkit-transform: rotate(0deg) skew(0deg);
  }
  to {
    -webkit-transform: rotate(420deg) skew(0deg);
  }
}

@-webkit-keyframes danny {
  from {
    -webkit-transform: rotate(0deg) skew(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) skew(75deg);
  }
}

.some {
  max-width: 165px;
  max-height: 165px;
  border-radius: 100px;
  border: 4px solid #FCB614;
  -webkit-animation-name:             rotate;
  -webkit-animation-duration:         .75s;
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function:  cubic-bezier(0.5,0.5,0.5,0.5);
}

.others {
  max-width: 150px;
  max-height: 150px;
  border-radius: 100px;
  border: 4px solid #FCB614;
  -webkit-animation-name:             rotate-redux;
  -webkit-animation-duration:         .50s;
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function:  cubic-bezier(0.5,0.5,0.5,0.5);
}

#dan {
  max-width: 205px;
  max-height: 205px;
  border-radius: 100px;
  border: 8px solid #FCB614;
  -webkit-animation-name:             danny;
  -webkit-animation-duration:         .75s;
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function:  cubic-bezier(0.5,0.5,0.5,0.5);
}

.bounce{
  display: block;
  /*border-radius: 50%;*/
  /*box-shadow: inset -5px -5px 5px rgba(0,0,0,.6), 15px 15px 2px rgba(0,0,0,.04);*/
  position: absolute;
  -webkit-animation: moveX 4s linear 0s infinite alternate, moveY 1s linear 0s infinite alternate;
  -moz-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: 1000px; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 480px; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 480px; }
}
@keyframes moveX {
  from { left: 0; } to { left: 480px; }
}
@-webkit-keyframes moveY {
  from { top: 0; } to { top: 280px; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 280px; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 280px; }
}
@keyframes moveY {
  from { top: 0; } to { top: 280px; }
}
